<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.septech.centauri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".persistent.CentauriApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Centauri"
        android:usesCleartextTraffic="true">
        <!-- User Activities  -->
        <activity android:name=".ui.user.login.LoginActivity"/>
        <activity android:name=".ui.user.register.RegisterActivity" />
        <activity android:name=".ui.user.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".ui.user.forgotpasswordcode.ForgotPasswordCodeActivity" />
        <activity android:name=".ui.user.newpassword.NewPasswordActivity" />
        <activity android:name=".ui.user.home.HomeActivity" />
        <activity android:name=".ui.user.cart.UserCartActivity"/>
        <activity android:name=".ui.user.settings.SettingsActivity" />

        <!-- Business Activities  -->
        <activity android:name=".ui.business.addlisting.AddListingActivity" />
        <activity android:name=".ui.business.login.BusinessLoginActivity" />
        <activity android:name=".ui.business.forgotpasswordcode.BusinessForgotPasswordCodeActivity" />
        <activity android:name=".ui.business.forgotpassword.BusinessForgotPasswordActivity" />
        <activity android:name=".ui.business.register.BusinessRegisterActivity" />

        <!-- On Launch  -->
        <activity
            android:name=".ui.landing.LandingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>